@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  background-image: linear-gradient(45deg, #12c2e9, #c471ed, #f64f59);
  background-attachment: fixed;
  font-family: "Merriweather", serif;
  color: #fff;
}

section {
  margin-left: 5%;
  margin-top: 10%;
}

section p {
  max-width: 75vw;
}

.major-heading {
  color: #000;
  font-size: 4em;
  margin: 1em;
  margin-left: 5%;
  border-bottom: 1px solid #c471ed;
}

h2 {
  color: #222;
  max-width: max-content;
  border-bottom: 1px solid #a6ffcb;
  padding: 0 1em 0 0;
  margin: 0 0 0.5em 0;
}

strong {
  font-size: 1.25em;
}

header {
  position: relative;
  background-image: linear-gradient(45deg, #1fa2ff, #12d8fa, #a6ffcb);
  border-radius: 0 0 1em 1em;
  margin-bottom: 100px;
  min-height: 50vh;
}

header::after {
  content: "";
  position: absolute;
  height: 100px;
  width: 100%;
  transform: rotate(-1deg) translateX(-5%) translateY(-5%);
  background-color: black;
  filter: blur(20px);
  bottom: 0;
  z-index: -1;
}

header::before {
  content: "";
  position: absolute;
  height: 100px;
  width: 100%;
  transform: rotate(1deg) translateX(5%) translateY(-5%);
  background-color: black;
  filter: blur(20px);
  bottom: 0;
  z-index: -1;
}

.main-img {
  width: 200px;
  height: 300px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0.25em 0.5em 0 #000;
}

.main-img img {
  width: 200px;
  height: 300px;
}

.second-bg img {
  width: 175px;
  height: 300px;
}

.second-bg {
  position: absolute;
  top: 15%;
  left: 25%;
  width: 175px;
  height: 300px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0.25em 0.75em 0 #000;
}

nav ul {
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0.75em 1em;
  min-width: 100px;
  text-align: center;
  list-style-type: none;
}

nav ul a {
  color: black;
  padding: 0.75em 1em;
  font-weight: 600;
  transition: 250ms ease-in-out;
  margin: 0 2em;
  border-radius: 30px;
}

nav ul a:hover {
  background-color: #a6ffcb;
  box-shadow: 0 0.25em 0.75em 0 #000;
}

h1 {
  font-size: 4em;
  margin: 1em;
  margin-left: 5%;
  border-bottom: 1px solid #c471ed;
}

.intro {
  display: block;
  font-size: 2em;
  margin: 1em;
  margin-left: 5%;
  max-width: 50%;
}

.goals-sec ul {
  margin: 1em 0;
  margin-left: 2em;
}

.goals-sec button {
  padding: 1em 2em;
  border: none;
  outline: none;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0.1em 0.25em 0 #eee;
}

.goals-sec p {
  max-width: 75vw;
}

.purpose-sec {
  margin-bottom: 20%;
}

.tech-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.tech-grid i {
  font-size: 4em;
  padding: 1em;
  background-color: #000;
  border-radius: 20px;
  margin: 0.5em 0;
  max-width: 200px;
  max-height: 200px;
}

.social-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-container i {
  font-size: 2em;
  padding: 10px;
  margin: 1em 0.5em;
}

@media (min-width: 300px) and (max-width: 1300px) {
  header {
    margin-bottom: 50px;
  }
  header::before {
    display: none;
  }
  nav {
    margin-bottom: 50px;
  }
  nav ul a {
    margin: 0;
    padding: 0;
  }
  nav ul li {
    font-size: 0.75em;
  }
  .major-heading {
    margin: 0.5em;
    font-size: 2em;
  }
  .intro {
    max-width: 75vw;
    font-size: 1em;
  }
}
